// // Ionic Variables and Theming. For more info, please see:
// // http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ca44eb;
  --ion-color-primary-rgb: 202, 68, 235;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e58efb;
  --ion-color-primary-tint: #ca44eb;

  --ion-background-color: #eaeaea;
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Roboto", sans-serif;

  ion-toolbar {
    --color: #762a89;
    --border-color: #762a89;
    --border-width: 4px 0;
    --border-style: none none solid none;
  }
}

html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
